body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5a7d9a;
    color: white;
    padding: 15px 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f2c75b; 
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
    border-radius: 4px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    margin-top: 20px;
    font-size: 0.9em;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}